body {
    background: linear-gradient(rgba(157, 157, 157, 0.2), rgba(255, 255, 255, 0.4), rgba(157, 157, 157, 0.2), rgba(255, 255, 255, 0.4)) no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 16px;
    margin: 0;
    padding: 2rem;
}

.container-drop {
    max-width: 40%;
    padding: 1rem;
    border: 1px solid black;
}

.container-drop-modal {
    padding: 1rem;
    border: 1px solid black;
}

.button-links:hover img {
    scale: 1.25;
}

.modal {
    z-index: inherit;
}

.form {
    padding: 1rem;
    text-align: end;
}

.submit-button  {
    margin: 1rem;
}